:root {
  --background-color: #222;
  --color: #fff;
  --font-family: "Inter", Tahoma, sans-serif, serif;
  --font-size: 16px;
  --font-weight: medium;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}
